<html>
<body>
<!-- header -->

<div class="top-image">
  <a href="http://localhost:3000/"><img class="top-image_item" alt="TOP image" src="/assets/logo.png" ></a>
</div>



<div align="center">
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/magical-punchline-ep/1128717631?app=music"></iframe>
</div>

<div align="center">
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/%E3%83%91%E3%83%AC%E3%83%BC%E3%83%89%E3%81%AF%E7%B6%9A%E3%81%8F-single/1256986194?app=music"></iframe>
</div>

<div align="center">
  <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/%E3%82%82%E3%81%86%E4%B8%80%E5%BA%A6-%E9%80%9A%E5%B8%B8%E7%9B%A4a-single/1481324038?app=music"></iframe>
</div>





<!-- サイトの中身部分 -->
<div id="page_top"><a></a></div>
<!-- footer -->
<footer>
  　　<ul class="footer-menu">
  <li>EVENT ｜</li>
  <li>NEWS ｜</li>
  <li>MEMBER ｜</li>
  <li>DISCO ｜</li>
  <li>GOODS</li>
</ul>
  <p>© All rights reserved by intern.</p>
</footer>
</body>
</html>
