<p id="notice"><%= notice %></p>

<div class="top-image">
  <a href="http://localhost:3000/"><img class="top-image_item" alt="TOP image" src="/assets/logo.png" ></a>
</div>


<div class="top-image">
  <img class="top-image_item" alt="TOP image" src="/assets/goods.png" >
</div>

<th>商品選択</th>

<table>
  <thead>
    <tr>


      <form method ="get" action="http://localhost:3000/items/new">

      <p>
      <select name="example1">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      </select>
      </p>

      <input type="submit" value="購入画面へ">

      </form>

    </tr>
  </thead>
